

body {
	font-family: "Helvetica Neue", Helvetica, Arial;
}
h1 {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 20px;
}


#page-header {
	padding: 0px;
	padding-top: 10px;
	padding-left: 50px;
	margin: 0px;
}
.charts-container {
	display:flex;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	min-width: 1300px;
}
.left-container {
	height: 1200px;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-top: 0px;
}
.right-container {
	height: 1000px;
	flex: 1;
}

.chart-holder {
	flex: 1;
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	margin-right: 0px;
}
#circle-holder {
	max-width: 700px;
	max-height: 900px;
}
.chart {
	height: 100%;
	width: 100%;
	max-width: 1000px;
	min-width: 800px;
}
#circle-div > svg {
	height: 750px;
	width: 100%;
}
#map-div{
	height: 400px;
}
#line-div {
	height: 400px;
}

#interact {
	height: 80px;
}
.circle-tool {
	min-height: 20px;
	font-size: 15px;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

