

body {
	font-family: "Helvetica Neue", Helvetica, Arial;
}
h1 {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 20px;
}

#page-header {
	padding-left: 30px;
}
.charts-container {
	display:flex;
	margin: 0;
	padding: 0;
	height: 1000px;
}

.left-container {
	padding: 20px;
	height: 500px;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.right-container {
	padding: 20px;
	height: 1000px;
	flex: 1;
}

.chart-holder {
	flex: 1;
}
.chart {
	height: 100%;
	width: 100%;
	max-width: 1000px;
	max-height: 500px;
}
#circle-div > svg {
	height: 1000px;
	width: 100%;
}
#map-div{
	height: 500px;
}
#line-div {
	height: 500px;
}
#map-div > div {
	height: 500px;
}
textPath {
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
}

.circle-tool {
	min-height: 40px;
	font-size: 25px;
	margin-block-start: 0em;
	margin-block-end: 0em;
}
